<h1>Listing tempos</h1>

<table>
  <tr>
    <th>Evento</th>
    <th>Data evento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tempos.each do |tempo| %>
  <tr>
    <td><%= tempo.evento %></td>
    <td><%= tempo.data_evento %></td>
    <td><%= link_to 'Show', tempo %></td>
    <td><%= link_to 'Edit', edit_tempo_path(tempo) %></td>
    <td><%= link_to 'Destroy', tempo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tempo', new_tempo_path %>
